@model MVC_CRUD.Models.AuthModels.Login
@{
    ViewBag.Title = "CRM Outbound Contact Center";
}

<!-- Include Page Head -->
@RenderPage("~/Views/Gates/Head.cshtml")

<body class="simple-page">
    <div class="simple-page-wrap">
        <div class="simple-page-logo">
            <a>
                <span><i class="fa fa-gg"></i></span>
                <span>Change Password</span>
            </a>
        </div><!-- logo -->
        <div class="simple-page-form" id="login-form">
            @using (Html.BeginForm("ChangePasswordAct", "Auth", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <br />
                <div class="form-group">
                    <div class="input-group">
                        <img src="~/Asset/images/Visionet.png" />
                    </div>
                </div>

                <div class="form-group has-info">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-user"></i></div>
                        <input type="text" id="txtUserName" class="form-control" value="@Session["Email"].ToString()" disabled style = "border:dotted; border-color:gainsboro" />
                        <input type="hidden" id="UserId" name="UserId" class="form-control" value="@Session["UserId"].ToString()"/>
                    </div>
                </div>
                <div class="form-group has-info">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                        <input type="password" id="NewPassword" name="NewPassword" class="form-control" required style = "border:dotted; border-color:gainsboro"/>
                    </div>
                </div>
                <div class="form-group has-info">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                        <input type="password" id="VerifryPassword" name="VerifryPassword" class="form-control" required style = "border:dotted; border-color:gainsboro"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group" style="width:100%">
                        <img id="imgcaptcha" src="~/Auth/Captcha" class="captcha" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-check"></i></div>
                        <input type="text" class="form-control" id="Captcha" name="Captcha" style = "border:dotted; border-color:gainsboro"/>
                    </div>
                </div>
                
                <footer>
                    <label style="color:red">@(Request.QueryString["msg"])</label>
                </footer>

                <input type="submit" class="btn btn-primary btn-raised btn-sm" value="Change Password">
            }
        </div><!-- .simple-page-wrap -->
    </div>
    <!-- Include Page Foot -->
    @*@RenderPage("~/Views/Gates/Foot.cshtml")*@
</body>