@{
    ViewBag.submenu = "Call Status";
}

<!-- Include Page Header -->
@RenderPage("~/Views/Gates/Head.cshtml")

<body class="sb-left">
    @RenderPage("~/Views/Gates/Header.cshtml")
    <!-- APP MAIN ==========-->
    <main id="app-main" class="app-main">
        <div class="wrap">
            <section class="app-content">

                <div class="row">
                    <!-- DOM dataTable -->
                    <div class="col-md-12">

                        <div class="widget">
                            <div class="widget-header">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#dataSuspect">Suspect</a></li>
                                    <li><a data-toggle="tab" href="#dataClosing">Closing</a></li>
                                    <li><a data-toggle="tab" href="#dataActive">Active</a></li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div id="dataSuspect" class="tab-pane fade in active">
                                    <div class="widget-body">
                                        <div class="table-responsive">
                                            <table id="default-datatable" data-plugin="DataTable" class="table table-striped" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th style="width:20px">#</th>
                                                        <th style="width:120px">Contact</th>
                                                        <th style="width:150px">Status</th>
                                                        <th style="width:80px">Begin Call</th>
                                                        <th style="width:80px">Call Back</th>
                                                        <th style="width:90px">Aging</th>
                                                        <th style="width:120px">Project Name</th>
                                                        <th style="width:20px"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in ViewBag.suspect)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <a href="@Url.Action("callView/" + item.ContactId, "Home")"><span class='badge badge-info'> <i class='fa fa-book'></i> &nbsp; View</span></a>
                                                            </td>

                                                            <td>
                                                                @item.ContactName
                                                            </td>
                                                            <td>
                                                                @item.CallStatus<span> , </span>@item.SubStatus
                                                            </td>
                                                            <td>
                                                                @Convert.ToDateTime(@item.BeginCall).ToString("dd-MMM-yy HH:mm")

                                                            </td>
                                                            <td>
                                                                @if (item.CallBack.Equals(item.BeginCall))
                                                                {
                                                                    <span>-</span>
                                                                }
                                                                else
                                                                {
                                                                    @Convert.ToDateTime(@item.CallBack).ToString("dd-MMM-yy HH:mm")
                                                                }
                                                            </td>
                                                            <td>
                                                                @item.AgingData<span> Day</span>
                                                            </td>
                                                            <td>
                                                                @item.CustProName
                                                            </td>
                                                            <td>
                                                                @item.Reach<span>x</span>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div><!-- .widget-body -->
                                </div>

                                <div id="dataClosing" class="tab-pane fade">
                                    <div class="widget-body">
                                        <div class="table-responsive">
                                            <table id="default-datatable" data-plugin="DataTable" class="table table-striped" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th style="width:20px">#</th>
                                                        <th style="width:120px">Contact</th>
                                                        <th style="width:150px">Status</th>
                                                        <th style="width:80px">Begin Call</th>
                                                        <th style="width:80px">Call Back</th>
                                                        <th style="width:90px">Aging</th>
                                                        <th style="width:120px">Project Name</th>
                                                        <th style="width:20px"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in ViewBag.closing)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <a href="@Url.Action("callclose/" + item.ContactId, "Home")"><span class='badge badge-success'> <i class='fa fa-book'></i> &nbsp; View</span></a>
                                                            </td>
                                                            <td>
                                                                @item.ContactName
                                                            </td>
                                                            <td>
                                                                @item.CallStatus<span> , </span>@item.SubStatus
                                                            </td>
                                                            <td>

                                                                @Convert.ToDateTime(@item.BeginCall).ToString("dd-MMM-yy HH:mm")

                                                            </td>
                                                            <td>
                                                                @if (item.CallBack.Equals(item.BeginCall))
                                                                {
                                                                    <span>-</span>
                                                                }
                                                                else
                                                                {
                                                                    @Convert.ToDateTime(@item.CallBack).ToString("dd-MMM-yy HH:mm")
                                                                    
                                                                }
                                                            </td>
                                                            <td>
                                                                @item.AgingData<span> Day</span>
                                                            </td>
                                                            <td>
                                                                @item.CustProName
                                                            </td>
                                                            <td>
                                                                @item.Reach<span>x</span>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div><!-- .widget-body -->
                                </div>

                                <div id="dataActive" class="tab-pane fade">
                                    <div class="widget-body">
                                        <div class="table-responsive">
                                            <table id="default-datatable" data-plugin="DataTable" class="table table-striped" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th style="width:20px">#</th>
                                                        <th style="width:120px">Contact</th>
                                                        <th style="width:150px">Status</th>
                                                        <th style="width:80px">Begin Call</th>
                                                        <th style="width:80px">Call Back</th>
                                                        <th style="width:90px">Aging</th>
                                                        <th style="width:120px">Project Name</th>
                                                        <th style="width:20px"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in ViewBag.active)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <a href="@Url.Action("callclose/" + item.ContactId, "Home")"><span class='badge badge-success'> <i class='fa fa-book'></i> &nbsp; View</span></a>
                                                            </td>
                                                            <td>
                                                                @item.ContactName
                                                            </td>
                                                            <td>
                                                                @item.CallStatus<span> , </span>@item.SubStatus
                                                            </td>
                                                            <td>
                                                                @Convert.ToDateTime(@item.BeginCall).ToString("dd-MMM-yy HH:mm")
                                                            </td>
                                                            <td>
                                                                @if (item.CallBack.Equals(item.BeginCall))
                                                                {
                                                                    <span>-</span>
                                                                }
                                                                else
                                                                {
                                                                    @Convert.ToDateTime(@item.CallBack).ToString("dd-MMM-yy HH:mm")
                                                                }
                                                            </td>
                                                            <td>
                                                                @item.AgingData<span> Day</span>
                                                            </td>
                                                            <td>
                                                                @item.CustProName
                                                            </td>

                                                            <td>
                                                                @item.Reach<span>x</span>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div><!-- .widget-body -->
                                </div>

                            </div>

                        </div><!-- .widget -->
                    </div><!-- END column -->
                    <!-- Ajax dataTable -->
                </div><!-- .row -->
            </section><!-- .app-content -->
        </div><!-- .wrap -->
        <!-- Include Page Footer -->
        @RenderPage("~/Views/Gates/Footer.cshtml")
        <!-- Include Page Foot -->
        @RenderPage("~/Views/Gates/Foot.cshtml")

    </main>
    <!--========== END app main -->
</body>
