@{
    ViewBag.submenu = "Detail Call";
}

<!-- Include Page Head -->
@RenderPage("~/Views/Gates/Head.cshtml")
@*<script src="~/Scripts/jquery-1.7.1.js"></script>*@
<body class="sb-left">
    @RenderPage("~/Views/Gates/Header.cshtml")
    <!-- APP MAIN ==========-->
    <main id="app-main" class="app-main">
        <div class="wrap">
            <section class="app-content">
                <div class="row">
                    <!-- DOM dataTable -->
                    <div class="col-sm-6 col-md-6">
                        <div class="widget stats-widget">
                            <div class="widget-body dial">
                                <div class="dial-header">
                                    <h3>Call Duration</h3>
                                    <h1><span id=""></span>00:<span id=""></span>00:00<span id=""></span></h1>
                                    <form id="formDuration">
                                        <input type="hidden" id="CallDuration" name="CallDuration" value="" />
                                    </form>
                                </div>
                                <div class="dial-footer">
                                    <h3 id="callStatus"></h3>
                                </div>
                            </div>
                            <div class="panel-body">
                                <table class="table text-center">
                                    <tbody>
                                        <tr valign="center">
                                            <td>Mobile Phone</td>

                                            <td>@ViewBag.call.ContactPhone</td>
                                            <td><a class="badge badge-info nmrDial" readonly><i class="fa fa-phone-square text-white"></i></a></td>

                                        </tr>
                                        <tr valign="center">

                                            <td>Home Phone</td>
                                            <td>@ViewBag.call.HomePhone</td>
                                            <td><a onclick="" class="badge badge-info nmrDial"><i class="fa fa-phone-square text-white"></i></a></td>

                                        </tr>
                                        <tr valign="center">

                                            <td>Other Phone</td>
                                            <td>@ViewBag.call.OtherPhone</td>
                                            <td><a onclick="" class="badge badge-info nmrDial"><i class="fa fa-phone-square text-white"></a></td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Second Acordion -->
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><i class="zmdi zmdi-phone-in-talk zmdi-hc-lg"></i> &nbsp; Call Interaction</a>
                                    </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <form id="formInteraction">
                                            <div class="form-group">
                                                <select id="status" class="form-control" name="callstatus"  disabled>
                                                   <option> @ViewBag.callhis.CallStatus </option>
                                                   
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <select id="transaction" class="form-control" name="substatus" disabled>
                                                    <option> @ViewBag.callhis.SubStatus</option>  
                                                
                                                </select>
                                            </div>
                                            <div class="form-group has-info">
                                                <input type="text" name="Remarks" class="form-control input-sm" id="remark" value="@ViewBag.callhis.Remarks" readonly>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Second Acordion -->
                    </div>

                    <div class="col-sm-6 col-md-6">
                        <!-- First Acordion -->
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><i class="fa fa-list-alt"></i> &nbsp; Customer Information</a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="big">
                                            <table align="center">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            Name
                                                        </td>
                                                        <td>
                                                            @ViewBag.call.ContactName
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Cust Id
                                                        </td>
                                                        <td>
                                                            @ViewBag.call.CustomerContactId
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Birth Date
                                                        </td>
                                                        <td>
                                                            @Convert.ToDateTime(@ViewBag.call.BirthDate).ToString("dd MMM yyyy")

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Address
                                                        </td>
                                                        <td>
                                                            @ViewBag.call.KTP_Adress
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Monthly Income
                                                        </td>
                                                        <td>
                                                            IDR @String.Format("{0:0,0.00}", @ViewBag.call.MonthlyFixedIncome)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Level
                                                        </td>
                                                        <td>
                                                            Platinum
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Customer Project
                                                        </td>
                                                        <td>
                                                            @ViewBag.CustomerName
                                                        </td>
                                                    </tr>
                                                    <tr><td>&nbsp;</td></tr>
                                                    <tr><td>&nbsp;</td></tr>
                                                    <tr><td>&nbsp;</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End First Acordion -->
                        <!-- Third Acordion -->
                        <div class="panel-group parameterForm" id="accordion">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><i class="fa fa-list-ol"></i> &nbsp; &nbsp; Customer Parameter</a>
                                    </h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <form id="formParameter">
                                            <div class="form-group">
                                                <input type="text" name="Param1" class="form-control input-sm" id="inputSmall" placeholder="Entry @ViewBag.param.Param1">
                                            </div>
                                            <input type="hidden" name="id" value="@ViewBag.call.ContactId" />
                                            <div class="form-group">
                                                <input type="text" name="Param2" class="form-control input-sm" id="inputSmall" placeholder="Entry @ViewBag.param.Param2">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="Param3" class="form-control input-sm" id="inputSmall" placeholder="Entry @ViewBag.param.Param3">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="Param4" class="form-control input-sm" id="inputSmall" placeholder="Entry @ViewBag.param.Param4">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="Param5" class="form-control input-sm" id="inputSmall" placeholder="Entry @ViewBag.param.Param5">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Third Acordion -->
                    </div>

                    <!-- Ajax dataTable -->

                </div><!-- .row -->

                <div class="row">
                    <div class="col-md-12">
                        @using (Html.BeginForm("ExportToExcelContact", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
                        { <div class="button">
                            <input type="hidden" id="hdContactId" value="@ViewBag.call.ContactId"/>
                           <button type="button" onclick="UpdateStatus(1)" class="btn btn-info btn-raised btn-sm"><i class="fa fa-paw"></i> &nbsp; Withdraw</button>
                           <button type="button" onclick="UpdateStatus(2)" class="btn btn-success btn-raised btn-sm"><i class="fa fa-check-circle"></i> &nbsp; Reassign</button>
                          </div> 
                        }
                        <div class="panel panel-primary">
                            <div class="panel-heading">

                                <h4 class="panel-title"><i class="fa fa-history"></i> &nbsp; History Detail</h4>
                            </div>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th style="width:140px">Date Time</th>
                                        <th style="width:100px">Phone Number</th>
                                        <th style="width:100px">Call Status</th>
                                        <th style="width:100px">Sub Status</th>
                                        <th>Remarks</th>
                                        <th style="width:100px">Aging Agent</th>
                                        <th style="width:100px">Agent</th>
                                    </tr>
                                    @foreach (var item in ViewBag.historydetail)
                                    {
                                        <tr>
                                            <td>
                                            @Convert.ToDateTime(@item.CallDate).ToString("dd-MMM-yy HH:mm")

                                            </td>
                                            <td>@item.ContactPhone</td>
                                            <td>@item.CallStatus</td>
                                            <td>@item.SubStatus</td>
                                            <td>@item.Remarks</td>
                                            <td>@item.AgingAgent Day</td>
                                            <td>@item.UserName</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </section><!-- .app-content -->
        </div><!-- .wrap -->
        <!-- Include Page Footer -->
        @RenderPage("~/Views/Gates/Footer.cshtml")
        <!-- Include Page Foot -->
        @RenderPage("~/Views/Gates/Foot.cshtml")

    </main>

</body>

<script>
    function UpdateStatus(status)
    {
        var ContactId = @ViewBag.call.ContactId;
        var param = {
            ContactId: ContactId,
            Status: status
        };

        $.post('@Url.Action("UpdateCallStatus", "Home")', param, function (result) {

            if(result == 1)
            {
                document.location = '@Url.Action("callStatus", "Home")'
            }
        });
    }
</script>