@model IEnumerable<MVC_CRUD.Models.contactCenterModels.Performance>
@{
    ViewBag.submenu = "Report";
}
<!-- Include Page Header -->
@RenderPage("~/Views/Gates/Head.cshtml")


<!--Bootstrap Table [ OPTIONAL ]-->
<link href="../libs/misc/datatables/datatables.min.css" rel="stylesheet">

<body class="sb-left">
    @RenderPage("~/Views/Gates/Header.cshtml")
    <!-- APP MAIN ==========-->
    <main id="app-main" class="app-main">
        <div class="wrap">
            <section class="app-content">

                <div class="row">
                    <!-- DOM dataTable -->
                    
                    <div class="col-sm-12">

                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <select id="CustProId" name="CustomerId" class="selectpicker show-menu-arrow show-tick selectstyle createSelect" title="Select Project" data-style="btn-info">
                                        <optgroup label="Project Name">
                                            @foreach (var item in ViewBag.CustProId)
                                            {
                                                <option value="@item.CustProId">@item.CustProName</option>
                                            }
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <label class="control-label" for="from">From</label>
                                </div>
                                <div class="col-sm-10">
                                    <div class="input-group date" id="from" data-date-format="dd-M-yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                        <input type="text" id="DateFrom" name="DateFrom" class="form-control" required onchange="CheckDate()" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                        <input type="hidden" id="dtp_input2" value="" />
                                    </div>
                                    <div id="ManagerError"></div>
                                </div>
                            </div>
                        </div>
                     
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <label class="control-label" for="to">To</label>
                                </div>
                                <div class="col-sm-10">
                                    <div class="input-group date" id="to" data-date="" data-date-format="dd-M-yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                        <input type="text" id="DateTo" name="DateTo" class="form-control" required onchange="CheckDate()" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                        <input type="hidden" id="dtp_input2" value="" />
                                    </div>
                                    <div id="ManagerError"></div>
                                </div>
                            </div>
                        </div>
                      
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-info btn-raised btn-sm submit" onclick="add2()"><i class="fa fa-paw"></i> &nbsp; Search</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="separator" />

                    <div class="widget">
                        <div class="widget-header">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#byPerformance">Report by Performance</a></li>
                                <li><a data-toggle="tab" href="#byProductivity">Report by Productivity</a></li>
                            </ul>

                        </div>
                        <div class="tab-content">
                            <div id="byPerformance" class="tab-pane fade in active">
                                <div class="widget-body">

                                    <div class="table-responsive">

                                        <div id="ListPerformance" style="width:100%">

                                        </div>

                                        <script type="text/x-handlebars-template" id="dtPerformance">

                                            <table class="table table-striped" data-plugin="DataTable" id="tblPerformance" cellspacing="0" width="100%">
                                                <thead>

                                                    <tr>
                                                        <th style="width:150px">Agent Name</th>
                                                        <th style="width:100px">Achievement</th>
                                                        <th style="width:100px">Target</th>
                                                        <th style="width:80px">Closing</th>
                                                        <th style="width:80px">Prospect</th>
                                                        <th style="width:80px">Contacted</th>
                                                        <th style="width:80px">Connected</th>
                                                        <th style="width:80px">Not Connected</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each this}}
                                                    <tr>
                                                        <td>{{AgentName}}</td>
                                                        <td><image src="{{Image}}" />&nbsp; {{Achievement}}</td>
                                                        <td>{{Target}}</td>
                                                        <td>{{Closing}}</td>
                                                        <td>{{Prospect}}</td>
                                                        <td>{{Contacted}}</td>
                                                        <td>{{Connected}}</td>
                                                        <td>{{NotConnected}}</td>
                                                    </tr>
                                                    {{/each}}

                                                </tbody>
                                            </table>
                                        </script>

                                        <div class="col-sm-2">
                                            <a class="btn btn-primary" id="btnDownloadPerformance" style="display:none">Download</a>
                                        </div>

                                    </div>

                                </div><!-- .widget-body -->
                            </div>

                            <div id="byProductivity" class="tab-pane fade in">
                                <div class="widget-body">
                                    <div class="table-responsive">
                                        
                                        <div style="display:none">
                                        <table id="default-datatable" data-plugin="DataTable" class="table table-striped" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>User</th>
                                                    <th>Call Attempt</th>
                                                    <th>Utillization</th>
                                                    <th>Talk Time</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                        </div>

                                        <div id="ListProductivity" style="width:100%">

                                        </div>

                                        <script type="text/x-handlebars-template" id="dtProductivity">

                                            <table class="table table-striped" data-plugin="DataTable" id="tblProductivity" cellspacing="0" width="100%">
                                                <thead>

                                                    <tr>
                                                        <th>User</th>
                                                        <th style="width:150px">Call Attempt</th>
                                                        <th style="width:150px">Utillization</th>
                                                        <th style="width:150px">Talk Time</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each this}}
                                                    <tr>
                                                        <td>{{User}}</td>
                                                        <td>{{CallAttempt}}</td>
                                                        <td>{{Utillization}}</td>
                                                        <td>{{TalkTime}}</td>
                                                    </tr>
                                                    {{/each}}

                                                </tbody>
                                            </table>
                                        </script>

                                        <div class="col-sm-2">
                                            <a class="btn btn-primary" id="btnDownloadProductivity" style="display:none">Download</a>
                                        </div>

                                    </div>
                                </div><!-- .widget-body -->
                            </div>
                        </div>

                    </div><!-- .widget -->
                </div><!-- END column -->
                <!-- Ajax dataTable -->
        </div><!-- .row -->
        </section><!-- .app-content -->
        </div><!-- .wrap -->
        <!-- Include Page Footer -->
        @RenderPage("~/Views/Gates/Footer.cshtml")
        
        <!-- Include Page Foot -->
        @RenderPage("~/Views/Gates/Foot.cshtml")

    </main>
    <!--========== END app main -->
</body>

<script src="~/Scripts/handlebars-v3.0.3.js"></script>
<script src="~/Libs/misc/datatables/datatables.min.js"></script>

<script>
            
            function CheckDate() {
                if ($("#txtstart").val() != "" && $("#txtend").val() != "") {

                    var from = new Date($("#DateFrom").val());
                    var to = new Date($("#DateTo").val());

                    var diffDays = parseInt((to - from) / (1000 * 60 * 60 * 24));

                    if (diffDays > 30 || diffDays < 0) {
                        DateFrom.value = "";
                        DateTo.value = "";
                    }
                }
            }


    function GetPerformance() {

        var Custdata = new FormData();
        var CustProId = $("#CustProId").val();
        Custdata.append("CustProId", CustProId);
        var DateFrom = $("#DateFrom").val();
        Custdata.append("DateFrom", DateFrom);
        var DateTo = $("#DateTo").val();
        Custdata.append("DateTo", DateTo);

        $.ajax({
            url: '@Url.Action("GetPerformance", "Home")',
            type: 'POST',
            data: Custdata,
            contentType: false,
            processData: false,
            async: true,
            success: function (data) {
                var data = JSON.parse(data);
                var source = $('#dtPerformance').html();
                var tmpl = Handlebars.compile(source);

                $('#ListPerformance').html(tmpl(data));
                var table = $('#tblPerformance').DataTable();

                document.getElementById("btnDownloadPerformance").style.display = "block";
                document.getElementById("btnDownloadPerformance").href = "../Report/ReportPerformance?From=" + DateFrom + "&&To=" + DateTo + "&&ProjectId=" + CustProId + "";

                document.getElementById("btnDownloadProductivity").style.display = "block";
                document.getElementById("btnDownloadProductivity").href = "../Report/ReportProductivity?From=" + DateFrom + "&&To=" + DateTo + "&&ProjectId=" + CustProId + "";
            },
            error: function (error) {
                alert('error');
            }
        });
    }

    function GetProductivity() {

        var Custdata = new FormData();
        var CustProId = $("#CustProId").val();
        Custdata.append("CustProId", CustProId);
        var DateFrom = $("#DateFrom").val();
        Custdata.append("DateFrom", DateFrom);
        var DateTo = $("#DateTo").val();
        Custdata.append("DateTo", DateTo);

        $.ajax({
            url: '@Url.Action("GetProductivity", "Home")',
            type: 'POST',
            data: Custdata,
            contentType: false,
            processData: false,
            async: true,
            success: function (data) {
                var data = JSON.parse(data);

                var source = $('#dtProductivity').html();
                var tmpl = Handlebars.compile(source);

                $('#ListProductivity').html(tmpl(data));

                var table = $('#tblProductivity').DataTable();

            },
            error: function (error) {
                alert('error');
            }
        });
    }

    function add2() {

        GetPerformance();
        GetProductivity();
    }
</script>
